<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.root.cognition.system.dao.MenuDao">

<!--********************自定义查询语句*****************************-->

    <select id="listMenuByUserId" resultType="com.root.cognition.system.entity.SysMenu">
            SELECT

            FROM sys_menu SYSM
            LEFT JION       ON
    </select>

    <select id="listUserPerms" resultType="java.lang.String">
        select
            distinct m.perms
        from
          sys_menu m
        left join sys_role_menu rm on m.menu_id = rm.menu_id
        left join sys_user_role ur on rm.role_id = ur.role_id
        where ur.user_id= #{id}
    </select>

<!--**************************************************************-->

    <!-- 根据id获得用户 -->
    <select id="get" parameterType="string" resultType="com.root.cognition.system.dao.UserDao">
        SELECT
        <include refid="menuColumns"/>
        FROM sys_menu a
        WHERE a.id = #{id}
    </select>

    <select id="getByEntity" parameterType="com.root.cognition.system.dao.UserDao"
            resultType="com.root.cognition.system.dao.UserDao">
        SELECT
        <include refid="menuColumns"/>
        FROM sys_menu a
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
            <if test="id !=null and id !=''">
                AND a.id = #{id}
            </if>
            <if test="userName !=null and userName !=''">
                AND a.user_name = #{menuNumber}
            </if>
            <if test="userEmail !=null and userEmail!=''">
                AND a.user_email = #{parentId}
            </if>
            <if test="userMobile !=null and userMobile!=''">
                AND a.user_mobile = #{menuPerms}
            </if>
        </where>
    </select>

    <sql id="menuColumns">
      a.id AS "id",
      a.menu_number AS  "menuNumber",
      a.parent_id   AS  "parentId",
      a.menu_name   AS  "menuName",
      a.menu_url    AS  "menuUrl",
      a.menu_parms  AS  "menuPerms",
      a.menu_type   AS  "menuType",
      a.menu_icon   AS  "menuIcon",
      a.order_num   AS  "orderNum",
      a.create_by AS "createBy",
      a.create_time AS "createTime",
      a.update_by AS "updateBy",
      a.update_time AS "updateTime"
    </sql>
</mapper>