<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.root.cognition.system.dao.RoleDao">

	<select id="findWithUserId" resultType="com.root.cognition.system.entity.Role">
		SELECT
		<include refid="roleColumns"/>
		FROM
		sys_role a
		LEFT JOIN sys_user_role b ON a.role_id = b.role_id
		WHERE
		a.del_flag = #{delFlag}
		AND
		b.user_id = #{userId}
	</select>

	<!--*********************************************************************-->

	<select id="get" resultType="com.root.cognition.system.entity.Role">
		SELECT
		<include refid="roleColumns"/>
		FROM
		sys_role a
		WHERE a.role_id = #{value}
	</select>

	<select id="findList" resultType="com.root.cognition.system.entity.Role">
		select
		<include refid="roleColumns"/>
		from sys_role a
		<where>
				a.del_flag = #{delFlag}
			<if test="id != null and id != ''">
				AND a.role_id = #{id}
			</if>
			<if test="name != null and name != ''">
				AND a.name = #{name}
			</if>
			<if test="cname != null and cname != ''">
				AND a.cname = #{cname}
			</if>
			<if test="permissions !=null and permissions !=''">
				AND a.permissions = #{permissions}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="createBy !=null and createBy !=''">
				AND a.create_by = #{createBy}
			</if>
			<if test="createTime !=null">
				AND a.create_time = #{createTime}
			</if>
			<if test="updateBy !=null and updateBy !=''">
				AND a.update_by = #{updateBy}
			</if>
			<if test="updateTime !=null">
				AND a.update_time = #{updateTime}
			</if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by a.create_time desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		SELECT
			count(*)
		FROM sys_role a
		<where>
			<if test="id != null and id != ''">
				AND a.role_id = #{id}
			</if>
			<if test="roleName != null and roleName != ''">
				AND a.name = #{name}
			</if>
			<if test="cname !=null and cname !=''">
				AND a.cname = #{cname}
			</if>
			<if test="permissions !=null and permissions !=''">
				AND a.permissions = #{permissions}
			</if>
			<if test="dataScope !=null and dataScope !=''">
				AND a.data_scope = #{dataScope}
			</if>
			<if test="remark != null and remark != ''">
				AND a.remark = #{remark}
			</if>
			<if test="createBy !=null and createBy !=''">
				AND a.create_by = #{createBy}
			</if>
			<if test="createTime !=null">
				AND a.create_time = #{createTime}
			</if>
			<if test="updateBy !=null and updateBy !=''">
				AND a.update_by = #{updateBy}
			</if>
			<if test="updateTime !=null">
				AND a.update_time = #{updateTime}
			</if>
		</where>
	</select>

	<insert id="insert" parameterType="com.root.cognition.system.entity.Role">
		insert into sys_role
		(
		`role_id`,
		`name`,
		`cname`,
		`permissions`,
		`data_scope`,
		`remark`,
		`create_by`,
		`create_time`,
		`update_by`,
		`update_time`,
		`del_flag`
		)
		values
		(
		#{id},
		#{name},
		#{cname},
		#{permissions},
		#{dataScope},
		#{remark},
		#{createBy},
		#{createTime},
		#{updateBy},
		#{updateTime},
		#{delFlag}
		)
	</insert>

	<update id="update" parameterType="com.root.cognition.system.entity.Role">
		update sys_role
		<set>
			<if test="name != null">
				`name` = #{name},
			</if>
			<if test="cname != null">
				`cname` = #{cname},
			</if>
			<if test="permissions != null">
				`permissions` = #{permissions},
			</if>
			<if test="dataScope != null">
				`data_scope` = #{dataScope},
			</if>
			<if test="remark != null">
				`remark` = #{remark},
			</if>
			<if test="createBy !=null and createBy !=''">
				`create_by` = #{createBy},
			</if>
			<if test="createTime !=null">
				`create_time` = #{createTime},
			</if>
			<if test="updateBy !=null and updateBy!=''">
				`update_by` = #{updateBy},
			</if>
			<if test="updateTime !=null">
				`update_time` = #{updateTime},
			</if>
			<if test="delFlag !=null and delFlag!=''">
				`del_flag` = #{delFlag}
			</if>
		</set>
		where role_id = #{id}
	</update>

	<delete id="remove">
		delete from sys_role where role_id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from sys_role where role_id in
		<foreach item="roleId" collection="array" open="(" separator=","
			close=")">
			#{roleId}
		</foreach>
	</delete>

	<sql id="roleColumns">
		a.role_id AS "id",
		a.name AS "name",
		a.cname AS "cname",
		a.permissions AS "permissions",
		a.data_scope AS "dataScope",
		a.remark AS "remark",
		a.create_by	AS "createBy",
		a.create_time AS "createTime",
		a.update_by	AS "updateBy",
		a.update_time AS "updateTime",
		a.del_flag 	AS "delFlag"
	</sql>

</mapper>