<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.notejumping.system.dao.UserDao">


    <!--模糊查询手机与邮箱-->
    <select id="getWihtLogininfo" resultType="com.notejumping.system.entity.User">
        SELECT
          <include refid="userColumns"/>
        FROM
          sys_user a
        WHERE
          a.mobile = #{loginInfo} OR a.email = #{loginInfo}
    </select>


    <!--*********************************************************************-->
    <select id="get" resultType="com.notejumping.system.entity.User">
        SELECT
        <include refid="userColumns"/>
        FROM
        sys_user a
        WHERE
        a.user_id = #{value}
    </select>

    <select id="getByEntity" resultType="com.notejumping.system.entity.User">
        SELECT
        <include refid="userColumns"/>
        FROM
        sys_user a
        <where>
            a.del_flag = #{delFlag}
            <if test="id != null and id != ''">
                AND a.user_id = #{id}
            </if>
            <if test="loginName != null and loginName != ''">
                AND a.login_name = #{loginName}
            </if>
            <if test="userPassword != null and userPassword != ''">
                AND a.userPassword = #{userPassword}
            </if>
            <if test="deptIds != null and deptIds.size() > 0">
                AND a.dept_id in
                <foreach collection="deptIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userEmail != null and userEmail != ''">
                AND a.email = #{userEmail}
            </if>
            <if test="userMobile != null and userMobile != ''">
                AND a.mobile = #{userMobile}
            </if>
            <if test="createBy !=null and createBy !=''">
                AND a.create_by = #{createBy},
            </if>
            <if test="createTime !=null">
                AND a.create_time = #{createTime},
            </if>
            <if test="updateBy !=null and updateBy !=''">
                AND a.update_by = #{updateBy},
            </if>
            <if test="updateTime !=null">
                AND a.update_time = #{updateTime},
            </if>
        </where>
    </select>

    <select id="findList" resultType="com.notejumping.system.entity.User">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <where>
            a.del_flag = #{delFlag}
            <if test="id != null and id != ''">
                AND a.user_id = #{id}
            </if>
            <if test="username != null and username != ''">
                AND a.login_name = #{loginName}
            </if>
            <if test="userPassword != null and userPassword != ''">
                AND a.password = #{userPassword}
            </if>
            <if test="deptIds != null and deptIds.size() > 0">
                AND a.dept_id in
                <foreach collection="deptIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="userEmail != null and userEmail != ''">
                AND a.email = #{userEmail}
            </if>
            <if test="userMobile != null and userMobile != ''">
                AND a.mobile = #{userMobile}
            </if>
            <if test="createBy !=null and createBy !=''">
                AND a.create_by = #{createBy},
            </if>
            <if test="createTime !=null">
                AND a.create_time = #{createTime},
            </if>
            <if test="updateBy !=null and updateBy !=''">
                AND a.update_by = #{updateBy},
            </if>
            <if test="updateTime !=null">
                AND a.update_time = #{updateTime},
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by a.create_time desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select
        count(*)
        from
        sys_user a
        <where>
            a.del_flag = #{delFlag}
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                AND a.username = #{username}
            </if>
            <if test="name != null and name != ''">
                AND a.name = #{name}
            </if>
            <if test="userPassword != null and userPassword != ''">
                AND a.password = #{userPassword}
            </if>
            <if test="deptId != null and deptId != ''">
                AND a.dept_id = #{deptId}
            </if>
            <if test="userEmail != null and userEmail != ''">
                AND a.email = #{userEmail}
            </if>
            <if test="userMobile != null and userMobile != ''">
                AND a.mobile = #{userMobile}
            </if>
            <if test="createBy !=null and createBy !=''">
                AND a.create_by = #{createBy},
            </if>
            <if test="createTime !=null">
                AND a.create_time = #{createTime},
            </if>
            <if test="updateBy !=null and updateBy !=''">
                AND a.update_by = #{updateBy},
            </if>
            <if test="updateTime !=null">
                AND a.update_time = #{updateTime},
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.notejumping.system.entity.User">
        INSERT INTO sys_user
		(
        `user_id`,
            `login_name`,
            `password`,
        <if test="userEmail !=null and userEmail !=''">
            `email`,
        </if>
        <if test="userMobile !=null and userMobile !=''">
            `mobile`,
        </if>
            `dept_id`,
            `create_by`,
            `create_time`,
            `update_by`,
            `update_time`,
            `del_flag`
		)
		VALUES
		(
			#{id},
			#{loginName},
        #{userPassword},
        <if test="userEmail !=null and userEmail !=''">
            #{userEmail},
        </if>
        <if test="userMobile !=null and userMobile !=''">
            #{userMobile},
        </if>
			#{deptId},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime},
            #{delFlag}
		)
	</insert>

    <update id="update" parameterType="com.notejumping.system.entity.User">
        UPDATE sys_user
        <set>
            <if test="loginName != null and loginName !=''">
                `login_name` = #{loginName},
            </if>
            <if test="userPassword != null and userPassword !=''">
                `password` = #{userPassword},
            </if>
            <if test="deptId != null and deptId !=''">
                `dept_id` = #{deptId},
            </if>
            <if test="userEmail != null and userEmail !=''">
                `email` = #{userEmail},
            </if>
            <if test="userMobile != null and userMobile !=''">
                `mobile` = #{userMobile},
            </if>
            <if test="createBy !=null and createBy !=''">
                `create_by` = #{createBy},
            </if>
            <if test="createTime !=null">
                `create_time` = #{createTime},
            </if>
            <if test="updateBy !=null and updateBy !=''">
                `update_by` = #{updateBy},
            </if>
            <if test="updateTime !=null">
                `update_time` = #{updateTime},
            </if>
            <if test="delFlag !=null and delFlag!=''">
                `del_flag` = #{delFlag}
            </if>
        </set>
        WHERE user_id = #{id}
    </update>

    <delete id="remove">
		DELETE FROM sys_user WHERE user_id = #{value}
	</delete>

    <delete id="batchRemove">
        DELETE FROM sys_user WHERE user_id IN
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <sql id="userColumns">
          a.user_id     AS "id",
          a.login_name  AS "loginName",
          a.password    AS "userPassword",
          a.email       AS "userEmail",
          a.mobile      AS "userMobile",
          a.dept_id     AS "deptId",
          a.create_by	AS "createBy",
		  a.create_time AS "createTime",
		  a.update_by	AS "updateBy",
		  a.update_time AS "updateTime",
		  a.del_flag 	AS "delFlag"
    </sql>
</mapper>