<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.root.cognition.system.dao.UserDao">


    <!--*********************************************************************-->
    <select id="get" resultType="com.root.cognition.system.entity.User">
        SELECT
        <include refid="userColumns"/>
        FROM
        sys_user a
        WHERE
        a.user_id = #{value}
    </select>

    <select id="getByEntity" resultType="com.root.cognition.system.entity.User">
        SELECT
        <include refid="userColumns"/>
        FROM
        sys_user a
        <where>
            a.del_flag = #{delFlag}
            <if test="id != null and id != ''">
                AND a.user_id = #{id}
            </if>
            <if test="loginName != null and loginName != ''">
                AND a.login_name = #{loginName}
            </if>
            <if test="password != null and password != ''">
                AND a.password = #{password}
            </if>
            <if test="deptIds != null and deptIds.size() > 0">
                AND a.dept_id in
                <foreach collection="deptIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="email != null and email != ''">
                AND a.email = #{email}
            </if>
            <if test="mobile != null and mobile != ''">
                AND a.mobile = #{mobile}
            </if>
            <if test="createBy !=null and createBy !=''">
                AND a.create_by = #{createBy},
            </if>
            <if test="createTime !=null">
                AND a.create_time = #{createTime},
            </if>
            <if test="updateBy !=null and updateBy !=''">
                AND a.update_by = #{updateBy},
            </if>
            <if test="updateTime !=null">
                AND a.update_time = #{updateTime},
            </if>
        </where>
    </select>

    <select id="findList" resultType="com.root.cognition.system.entity.User">
        SELECT
        <include refid="userColumns"/>
        FROM sys_user a
        <where>
            a.del_flag = #{delFlag}
            <if test="id != null and id != ''">
                AND a.user_id = #{id}
            </if>
            <if test="username != null and username != ''">
                AND a.login_name = #{loginName}
            </if>
            <if test="password != null and password != ''">
                AND a.password = #{password}
            </if>
            <if test="deptIds != null and deptIds.size() > 0">
                AND a.dept_id in
                <foreach collection="deptIds" item="item" index="index" separator="," open="(" close=")">
                    #{item}
                </foreach>
            </if>
            <if test="email != null and email != ''">
                AND a.email = #{email}
            </if>
            <if test="mobile != null and mobile != ''">
                AND a.mobile = #{mobile}
            </if>
            <if test="createBy !=null and createBy !=''">
                AND a.create_by = #{createBy},
            </if>
            <if test="createTime !=null">
                AND a.create_time = #{createTime},
            </if>
            <if test="updateBy !=null and updateBy !=''">
                AND a.update_by = #{updateBy},
            </if>
            <if test="updateTime !=null">
                AND a.update_time = #{updateTime},
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by a.create_time desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select
        count(*)
        from
        sys_user a
        <where>
            a.del_flag = #{delFlag}
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
            <if test="username != null and username != ''">
                AND a.username = #{username}
            </if>
            <if test="name != null and name != ''">
                AND a.name = #{name}
            </if>
            <if test="password != null and password != ''">
                AND a.password = #{password}
            </if>
            <if test="deptId != null and deptId != ''">
                AND a.dept_id = #{deptId}
            </if>
            <if test="email != null and email != ''">
                AND a.email = #{email}
            </if>
            <if test="mobile != null and mobile != ''">
                AND a.mobile = #{mobile}
            </if>
            <if test="createBy !=null and createBy !=''">
                AND a.create_by = #{createBy},
            </if>
            <if test="createTime !=null">
                AND a.create_time = #{createTime},
            </if>
            <if test="updateBy !=null and updateBy !=''">
                AND a.update_by = #{updateBy},
            </if>
            <if test="updateTime !=null">
                AND a.update_time = #{updateTime},
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.root.cognition.system.entity.User" useGeneratedKeys="true"
            keyProperty="userId">
        INSERT INTO sys_user
		(
            `id`,
            `login_name`,
            `password`,
            `email`,
            `mobile`,
            `dept_id`,
            `create_by`,
            `create_time`,
            `update_by`,
            `update_time`,
            `del_flag`
		)
		VALUES
		(
			#{id},
			#{loginName},
			#{password},
			#{email},
			#{mobile},
			#{deptId},
            #{createBy},
            #{createTime},
            #{updateBy},
            #{updateTime},
            #{delFlag}
		)
	</insert>

    <update id="update" parameterType="com.root.cognition.system.entity.User">
        UPDATE sys_user
        <set>
            <if test="loginName != null and loginName !=''">
                `login_name` = #{loginName},
            </if>
            <if test="password != null and password !=''">
                `password` = #{password},
            </if>
            <if test="deptId != null and deptId !=''">
                `dept_id` = #{deptId},
            </if>
            <if test="email != null and email !=''">
                `email` = #{email},
            </if>
            <if test="mobile != null and mobile !=''">
                `mobile` = #{mobile},
            </if>
            <if test="createBy !=null and createBy !=''">
                `create_by` = #{createBy},
            </if>
            <if test="createTime !=null">
                `create_time` = #{createTime},
            </if>
            <if test="updateBy !=null and updateBy !=''">
                `update_by` = #{updateBy},
            </if>
            <if test="updateTime !=null">
                `update_time` = #{updateTime},
            </if>
            <if test="delFlag !=null and delFlag!=''">
                `del_flag` = #{delFlag}
            </if>
        </set>
        WHERE user_id = #{id}
    </update>

    <delete id="remove">
		DELETE FROM sys_user WHERE user_id = #{value}
	</delete>

    <delete id="batchRemove">
        DELETE FROM sys_user WHERE user_id IN
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

    <sql id="userColumns">
          a.user_id     AS "id",
          a.login_name  AS "loginName",
          a.password    AS "userPassword",
          a.email       AS "userEmail",
          a.mobile      AS "userMobile",
          a.dept_id     AS "deptId",
          a.create_by	AS "createBy",
		  a.create_time AS "createTime",
		  a.update_by	AS "updateBy",
		  a.update_time AS "updateTime",
		  a.del_flag 	AS "delFlag"
    </sql>
</mapper>