<div class="row">
    <div class="col-sm-3">
        <div class="widget-head-color-box boundary-m  p-lg text-center">
            <img src="/img/unknown-user.jpg" style="width:150px;height:150px" class="rounded-circle circle-border m-b-md" alt="profile">
            <div class="m-b-md">
                <h2 class="font-bold no-margins" id="account">请登录账户</h2>
            </div>
            <div>
                <h1 class="m-b-xs"><span id="Timer"></span></h1>
            </div>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="widget  boundary-m">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-taxi fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span> 总计车辆量 </span>
                    <!--th:text="${userInfo.userName}"-->
                    <h2 class="font-bold" >****</h2>
                </div>
            </div>
        </div>

        <div class="widget style1 boundary-m">
            <div class="row">
                <div class="col-4">
                    <i class="fa fa-check fa-5x"></i>
                </div>
                <div class="col-8 text-right">
                    <span>计划车辆次数</span>
                    <!--th:text="${userInfo.userName}"-->
                    <h2 class="font-bold">****</h2>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="row">
</div>

<script th:inline="javascript" type="text/javascript">
    $(function () {
        // console.log(userinfo);
        if (userinfo) {
            $("#account").html(userinfo.userName);
        }
        setInterval("GetTime()", 1000);
    });


    //获取当前时间并设置格式
    function GetTime() {
        var mon, day, now, hour, min, ampm, time, str, tz, end, beg, sec;

         // mon = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug","Sep", "Oct", "Nov", "Dec");
         // day = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");

        mon = ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"];
        day = ["周日", "周一", "周二", "周三", "周四", "周五", "周六"];
        now = new Date();
        hour = now.getHours();
        min = now.getMinutes();
        sec = now.getSeconds();
        if (hour < 10) {
            hour = "0" + hour;
        }
        if (min < 10) {
            min = "0" + min;
        }
        if (sec < 10) {
            sec = "0" + sec;
        }
        $("#Timer").html(
            now.getFullYear() + "年" + (now.getMonth() + 1) + "月" + now.getDate() + "日" + "  " + hour + ":" + min + ":" + sec
        );
        //$("#Timer").html(
        //        day[now.getDay()] + ", " + mon[now.getMonth()] + " "
        //                + now.getDate() + ", " + now.getFullYear() + " " + hour
        //                + ":" + min + ":" + sec);
    }
</script>
</script>