<style>

    .c_input {
        text-align: center;
    }

    .c_img {
        height: 129px;
        width: 270px;
    }

    .c_input1 {
        width: 460px;
        height: 48px;
        padding-left: 70px;
        border: 1px solid #fff;
        border-radius: 25px;
        font-size: 18px;
        color: #fff;
        background-color: transparent;
        outline: none;
    }

    .c_btn {
        background-color: #3388FF;
        color: white;
        border: 0;
        height: 39px;
        width: 100px;
    }


</style>


<!--    <div class="col-sm-3">-->
<!--        <div class="widget-head-color-box boundary-m  p-lg text-center" href="#" onclick="openLogin()">-->
<!--            <img src="/img/unknown-user.jpg" style="width:150px;height:150px" class="rounded-circle circle-border m-b-md" alt="profile">-->
<!--            <div class="m-b-md">-->
<!--                <h2 class="font-bold no-margins" id="account">登录账户</h2>-->
<!--            </div>-->
<!--            <div>-->
<!--                <h1 class="m-b-xs"><span id="Timer"></span></h1>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div>
        <!--中间-->
        <div class="center">
            <!--logo-->
            <div class="c_logo">
                <img src="https://www.baidu.com/img/bd_logo1.png" class="c_img">
            </div>
            <!--搜索框input-->
            <div class="c_input">
                <label>
                    <input type="text" class="c_input1">
                </label>
                <input type="button" value="Jump Note" class="c_btn">
            </div>
        </div>

        <!--尾部-->
    </div>


<div class="row"></div>

<script th:inline="javascript" type="text/javascript">
    $(function () {
        // console.log(userinfo);
        if (userinfo) {
            $("#account").html(userinfo.userName);
        }
        setInterval("GetTime()", 1000);
    });


    //获取当前时间并设置格式
    function GetTime() {
        var mon, day, now, hour, min, ampm, time, str, tz, end, beg, sec;

         // mon = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug","Sep", "Oct", "Nov", "Dec");
         // day = new Array("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat");

        mon = ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"];
        day = ["周日", "周一", "周二", "周三", "周四", "周五", "周六"];
        now = new Date();
        hour = now.getHours();
        min = now.getMinutes();
        sec = now.getSeconds();
        if (hour < 10) {
            hour = "0" + hour;
        }
        if (min < 10) {
            min = "0" + min;
        }
        if (sec < 10) {
            sec = "0" + sec;
        }
        $("#Timer").html(
            now.getFullYear() + "年" + (now.getMonth() + 1) + "月" + now.getDate() + "日" + "  " + hour + ":" + min + ":" + sec
        );
        //$("#Timer").html(
        //        day[now.getDay()] + ", " + mon[now.getMonth()] + " "
        //                + now.getDate() + ", " + now.getFullYear() + " " + hour
        //                + ":" + min + ":" + sec);
    }
</script>