<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.root.cognition.modules.dao.DictDao">


	<select id="listType" resultType="com.root.cognition.modules.entity.Dict">
		select distinct
			`type` , description
		from mod_dict
	</select>

	<!--***********************************************************************-->
	<select id="get" resultType="com.root.cognition.modules.entity.Dict">
		select
		<include refid="dictColumns"/>
		from mod_dict a
		where
			dict_id = #{value}
	</select>

	<select id="findList" resultType="com.root.cognition.modules.entity.Dict">
		select
		<include refid="dictColumns"/>
		from mod_dict a
		<where>
			a.del_flag = #{delFlag}
			<if test="id != null and id != ''">
			 	and a.dict_id = #{id} </if>
			<if test="name != null and name != ''">
			 	and a.name = #{name} </if>
			<if test="value != null and value != ''">
			 	and a.value = #{value} </if>
			<if test="type != null and type != ''">
			 	and a.type = #{type} </if>
			<if test="description != null and description != ''">
			 	and a.description = #{description} </if>
			<if test="sort != null and sort != ''">
			 	and a.sort = #{sort} </if>
			<if test="parentId != null and parentId != ''">
			 	and a.parent_id = #{parentId} </if>
			<if test="createBy != null and createBy != ''">
			 	and a.create_by = #{createBy} </if>
			<if test="createDate != null and createDate != ''">
			 	and a.create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''">
			 	and a.update_by = #{updateBy} </if>
			<if test="updateDate != null and updateDate != ''">
			 	and a.update_time = #{updateTime} </if>
			<if test="remarks != null and remarks != ''">
			 	and a.remarks = #{remarks} </if>
		</where>
		<choose>
			<when test="sort != null and sort.trim() != ''">
				order by ${sort} ${order}
			</when>
			<otherwise>
				order by a.create_Time desc
			</otherwise>
		</choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>

	<select id="count" resultType="int">
		select count(*) from mod_dict a
		<where>
			a.del_flag = #{delFlag}
			<if test="id != null and id != ''">
			 and a.dict_id = #{id} </if>
			<if test="name != null and name != ''">
			 and a.name = #{name} </if>
			<if test="value != null and value != ''">
			 and a.value = #{value} </if>
			<if test="type != null and type != ''">
			 and a.type = #{type} </if>
			<if test="description != null and description != ''">
			 and a.description = #{description} </if>
			<if test="sort != null and sort != ''">
			 and a.sort = #{sort} </if>
			<if test="parentId != null and parentId != ''">
			 and a.parent_id = #{parentId} </if>
			<if test="createBy != null and createBy != ''">
			 and a.create_by = #{createBy} </if>
			<if test="createDate != null and createDate != ''">
			 and a.create_time = #{createTime} </if>
			<if test="updateBy != null and updateBy != ''">
			 and a.update_by = #{updateBy} </if>
			<if test="updateDate != null and updateDate != ''">
			 and a.update_time = #{updateTime} </if>
			<if test="remarks != null and remarks != ''">
			 and a.remarks = #{remarks} </if>
		</where>
	</select>

	<insert id="insert" parameterType="com.root.cognition.modules.entity.Dict"
			useGeneratedKeys="true" keyProperty="id">
		insert into mod_dict
		(
		`name`,
		`value`,
		`type`,
		`description`,
		`sort`,
		`parent_id`,
		`create_by`,
		`create_date`,
		`update_by`,
		`update_date`,
		`remarks`,
		`del_flag`
		)
		values
		(
		#{name},
		#{value},
		#{type},
		#{description},
		#{sort},
		#{parentId},
		#{createBy},
		#{createDate},
		#{updateBy},
		#{updateDate},
		#{remarks},
		#{delFlag}
		)
	</insert>

	<update id="update" parameterType="com.root.cognition.modules.entity.Dict">
		update mod_dict
		<set>
			<if test="name != null">
			`name` = #{name}, </if>
			<if test="value != null">
			`value` = #{value}, </if>
			<if test="type != null">
			`type` = #{type}, </if>
			<if test="description != null">
			`description` = #{description}, </if>
			<if test="sort != null">
			`sort` = #{sort}, </if>
			<if test="parentId != null">
			`parent_id` = #{parentId}, </if>
			<if test="createBy != null">
			`create_by` = #{createBy}, </if>
			<if test="createDate != null">
			`create_date` = #{createDate}, </if>
			<if test="updateBy != null">
			`update_by` = #{updateBy}, </if>
			<if test="updateDate != null">
			`update_date` = #{updateDate}, </if>
			<if test="remarks != null">
			`remarks` = #{remarks}, </if>
			<if test="delFlag != null">
			`del_flag` = #{delFlag}</if>
		</set>
		where dict_id = #{id}
	</update>

	<delete id="remove">
		delete from mod_dict where dict_id = #{value}
	</delete>

	<delete id="batchRemove">
		delete from mod_dict where id in
		<foreach item="dict_id" collection="array" open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>

	<sql id="dictColumns">
		a.dict_id as "id",
		a.name as "name",
		a.value as "value",
		a.type as "type",
		a.description as "description",
		a.sort as "sort",
		a.parent_id as "parentId",
		a.create_by	AS "createBy",
		a.create_time AS "createTime",
		a.update_by	AS "updateBy",
		a.update_time AS "updateTime",
		a.del_flag 	AS "delFlag",
		a.remarks as "remarks"
	</sql>

</mapper>