<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.notejumping.modules.dao.TaskDao">

    <select id="get" resultType="com.notejumping.modules.entity.Task">
        select
        <include refid="taskColumns"/>
        from
        mod_task
        where task_id = #{value}
    </select>

    <select id="findList" resultType="com.notejumping.modules.entity.Task">
        select
        <include refid="taskColumns"/>
        from mod_task a
        <where>
            <if test="Id != null and Id != ''">
                and a.task_id = #{Id}
            </if>
            <if test="cronExpression != null and cronExpression != ''">
                and a.cron_expression = #{cronExpression}
            </if>
            <if test="methodName != null and methodName != ''">
                and a.method_name = #{methodName}
            </if>
            <if test="isConcurrent != null and isConcurrent != ''">
                and a.is_concurrent = #{isConcurrent}
            </if>
            <if test="description != null and description != ''">
                and a.description = #{description}
            </if>
            <if test="beanClass != null and beanClass != ''">
                and a.bean_class = #{beanClass}
            </if>
            <if test="jobStatus != null and jobStatus != ''">
                and a.job_status = #{jobStatus}
            </if>
            <if test="jobGroup != null and jobGroup != ''">
                and a.job_group = #{jobGroup}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and a.update_by = #{updateBy}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and a.update_time = #{updateTime}
            </if>
            <if test="createBy != null and createBy != ''">
                and a.create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                and a.create_Time = #{createTime}
            </if>
            <if test="springBean != null and springBean != ''">
                and a.spring_bean = #{springBean}
            </if>
            <if test="jobName != null and jobName != ''">
                and a.job_name = #{jobName}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by a.task_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from mod_task
        <where>
            <if test="cronExpression != null and cronExpression != ''">
                and cron_expression = #{cronExpression}
            </if>
            <if test="methodName != null and methodName != ''">
                and method_name = #{methodName}
            </if>
            <if test="isConcurrent != null and isConcurrent != ''">
                and is_concurrent = #{isConcurrent}
            </if>
            <if test="description != null and description != ''">
                and description = #{description}
            </if>
            <if test="beanClass != null and beanClass != ''">
                and bean_class = #{beanClass}
            </if>
            <if test="jobStatus != null and jobStatus != ''">
                and job_status = #{jobStatus}
            </if>
            <if test="jobGroup != null and jobGroup != ''">
                and job_group = #{jobGroup}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="springBean != null and springBean != ''">
                and spring_bean = #{springBean}
            </if>
            <if test="jobName != null and jobName != ''">
                and job_name = #{jobName}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.notejumping.modules.entity.Task"
            useGeneratedKeys="true" keyProperty="task_id">
		insert into mod_task
		(
			`cron_expression`, 
			`method_name`, 
			`is_concurrent`, 
			`description`, 
			`update_by`, 
			`bean_class`, 
			`create_time`,
			`job_status`, 
			`job_group`, 
			`update_time`,
			`create_by`, 
			`spring_bean`, 
			`job_name`
		)
		values
		(
			#{cronExpression}, 
			#{methodName}, 
			#{isConcurrent}, 
			#{description}, 
			#{updateBy}, 
			#{beanClass}, 
			#{createTime},
			#{jobStatus}, 
			#{jobGroup}, 
			#{updateTime},
			#{createBy}, 
			#{springBean}, 
			#{jobName}
		)
	</insert>

    <update id="update" parameterType="com.notejumping.modules.entity.Task">
        update mod_task
        <set>
            <if test="cronExpression != null">
                `cron_expression` = #{cronExpression},
            </if>
            <if test="methodName != null">
                `method_name` = #{methodName},
            </if>
            <if test="isConcurrent != null">
                `is_concurrent` = #{isConcurrent},
            </if>
            <if test="description != null">
                `description` = #{description},
            </if>
            <if test="beanClass != null">
                `bean_class` = #{beanClass},
            </if>
            <if test="jobStatus != null">
                `job_status` = #{jobStatus},
            </if>
            <if test="jobGroup != null">
                `job_group` = #{jobGroup},
            </if>
            <if test="createBy != null">
                `create_by` = #{createBy},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateBy != null">
                `update_by` = #{updateBy},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
            <if test="springBean != null">
                `spring_bean` = #{springBean},
            </if>
            <if test="jobName != null">
                `job_name` = #{jobName}
            </if>
        </set>
        where task_id = #{id}
    </update>

    <delete id="remove">
		delete from mod_task where task_id = #{value}
	</delete>

    <delete id="batchRemove">
        delete from mod_task where task_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <sql id="taskColumns">
        task_id AS "id",
        cron_expression AS "cronExpression",
        method_name AS "methodName",
        is_concurrent AS "isConcurrent",
        description AS "description",
        bean_class AS "beanClass",
        spring_bean AS "springBean",
        job_name AS "jobName",
        job_status AS "jobStatus",
        job_group AS "jobGroup",
        update_time AS "updateTime",
        update_by AS "updateBy",
        create_by AS "createBy",
        create_time AS "createTime"
    </sql>

</mapper>