<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.root.cognition.business.dao.CarInspectDao">

    <select id="get" resultType="com.root.cognition.business.entity.CarInspect">
        select
        <include refid="carInspectColumns"/>
        from
        business_car_inspect
        where
        car_inspect_id = #{value}
    </select>

    <select id="findList" resultType="com.root.cognition.business.entity.CarInspect">
        select
        bci.car_inspect_id as id,
        bci.car_id,
        bci.car_time,
        bci.car_sms_times,
        bci.vehicle_license,
        bci.vehicle_time,
        bci.vehicle_sms_times,
        bci.car_insurance,
        bci.insurance_time,
        bci.insurance_sms_times,
        bci.create_by,
        bci.create_time,
        bci.update_by,
        bci.update_time,
        bci.del_flag,
        bc.car_num as carNum,
        bc.real_name as realName,
        bc.mobile as mobile
        from
        business_car_inspect bci
        LEFT join business_car bc on bc.car_id = bci.car_id
        <where>
            bci.del_flag = #{delFlag}
            <if test="id != null and id != ''">
                and bci.car_inspect_id = #{id}
            </if>
            <if test="carId != null and carId != ''">
                and bci.car_id = #{carId}
            </if>
            <if test="carSmsTimes != null and carSmsTimes!=''">
                and bci.car_sms_times = #{carSmsTimes},
            </if>
            <if test="carTime != null and carTime != ''">
                and bci.car_time = #{carTime}
            </if>
            <if test="vehicleLicense != null and vehicleLicense != ''">
                and bci.vehicle_license = #{vehicleLicense}
            </if>
            <if test="vehicleSmsTimes != null and vehicleSmsTimes!=''">
                and vehicle_sms_times = #{vehicleSmsTimes},
            </if>
            <if test="vehicleTime != null and vehicleTime != ''">
                and bci.vehicle_time = #{vehicleTime}
            </if>
            <if test="carInsurance != null and carInsurance != ''">
                and bci.car_insurance = #{carInsurance}
            </if>
            <if test="insuranceTime != null and insuranceTime != ''">
                and bci.insurance_time = #{insuranceTime}
            </if>
            <if test="insuranceSmsTimes != null and insuranceSmsTimes!=''">
                and bci.insurance_sms_times = #{insuranceSmsTimes},
            </if>
            <if test="createBy != null and createBy != ''">
                and bci.create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                and bci.create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and bci.update_by = #{updateBy}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and bci.update_time = #{updateTime}
            </if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from business_car_inspect
        <where>
            <if test="id != null and id != ''">
                and car_inspect_id = #{id}
            </if>
            <if test="carId != null and carId != ''">
                and car_id = #{carId}
            </if>
            <if test="carTime != null and carTime != ''">
                and car_time = #{carTime}
            </if>
            <if test="carSmsTimes != null">
                and car_sms_times = #{carSmsTimes},
            </if>
            <if test="vehicleLicense != null and vehicleLicense != ''">
                and vehicle_license = #{vehicleLicense}
            </if>
            <if test="vehicleTime != null and vehicleTime != ''">
                and vehicle_time = #{vehicleTime}
            </if>
            <if test="vehicleSmsTimes != null">
                and vehicle_sms_times = #{vehicleSmsTimes},
            </if>
            <if test="carInsurance != null and carInsurance != ''">
                and car_insurance = #{carInsurance}
            </if>
            <if test="insuranceTime != null and insuranceTime != ''">
                and insurance_time = #{insuranceTime}
            </if>
            <if test="insuranceSmsTimes != null">
                and insurance_sms_times = #{insuranceSmsTimes},
            </if>
            <if test="createBy != null and createBy != ''">
                and create_by = #{createBy}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null and updateTime != ''">
                and update_time = #{updateTime}
            </if>
            <if test="delFlag != null and delFlag != ''">
                and del_flag = #{delFlag}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.root.cognition.business.entity.CarInspect">
		insert into business_car_inspect
		(
			`car_inspect_id`,
			`car_id`, 
			`car_time`, 
			`vehicle_license`, 
			`vehicle_time`, 
			`car_insurance`, 
			`insurance_time`, 
			`create_by`, 
			`create_time`, 
			`update_by`, 
			`update_time`, 
			`del_flag`
		)
		values
		(
			#{id}, 
			#{carId}, 
			#{carTime}, 
			#{vehicleLicense}, 
			#{vehicleTime}, 
			#{carInsurance}, 
			#{insuranceTime}, 
			#{createBy}, 
			#{createTime}, 
			#{updateBy}, 
			#{updateTime}, 
			#{delFlag}
		)
	</insert>

    <update id="update" parameterType="com.root.cognition.business.entity.CarInspect">
        update business_car_inspect
        <set>
            <if test="carId != null">
                `car_id` = #{carId},
            </if>
            <if test="carTime != null">
                `car_time` = #{carTime},
            </if>
            <if test="carSmsTimes != null">
                `car_sms_times` = #{carSmsTimes},
            </if>
            <if test="vehicleLicense != null">
                `vehicle_license` = #{vehicleLicense},
            </if>
            <if test="vehicleTime != null">
                `vehicle_time` = #{vehicleTime},
            </if>
            <if test="vehicleSmsTimes != null">
                `vehicle_sms_times` = #{vehicleSmsTimes},
            </if>
            <if test="carInsurance != null">
                `car_insurance` = #{carInsurance},
            </if>
            <if test="insuranceTime != null">
                `insurance_time` = #{insuranceTime},
            </if>
            <if test="insuranceSmsTimes != null">
                `insurance_sms_times` = #{insuranceSmsTimes},
            </if>
            <if test="createBy != null">
                `create_by` = #{createBy},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
            <if test="updateBy != null">
                `update_by` = #{updateBy},
            </if>
            <if test="updateTime != null">
                `update_time` = #{updateTime},
            </if>
            <if test="delFlag != null">
                `del_flag` = #{delFlag}
            </if>
        </set>
        where car_inspect_id = #{id}
    </update>

    <delete id="remove">
		update business_car_inspect set del_flag ='1' where car_inspect_id = #{value}
	</delete>

    <delete id="batchRemove">
        update business_car_inspect set del_flag ='1' where car_inspect_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <sql id="carInspectColumns">
		`car_inspect_id` as id,
		`car_id`,
		`car_time`,
		`vehicle_license`,
		`vehicle_time`,
		`vehicle_sms_times`
		`car_insurance`,
		`insurance_time`,
		`create_by`,
		`create_time`,
		`update_by`,
		`update_time`,
		`del_flag`
	</sql>
</mapper>