<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="carAdd">

                        <div class="form-group">
                            <label class="col-sm-2 control-label">车牌号：</label>
                            <div class="col-sm-4">
                                <input id="carNum" name="carNum" class="form-control" type="text" placeholder="请输入车牌号">
                            </div>
                            <div class="col-sm-4">
                                <h4>自动监测检查车辆是否存在</h4>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">车主姓名：</label>
                            <div class="col-sm-4">
                                <input id="realName" name="realName" class="form-control" type="text" placeholder="请输入车主姓名">
                            </div>

                            <label class="col-sm-2 control-label">车主联系电话：</label>
                            <div class="col-sm-4">
                                <input id="mobile" name="mobile" class="form-control" type="text" placeholder="请输入车主联系电话">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">车主身份证号：</label>
                            <div class="col-sm-4">
                                <input id="identityNum" name="identityNum" class="form-control" type="text" placeholder="请输入车主身份证号">
                            </div>

                            <label class="col-sm-2 control-label">车辆类型：</label>
                            <div class="col-sm-4">
                                <select id="truckType" class="form-control">
                                    <option value="">请选择车辆类型</option>
                                    <option value="H01">普通货车</option>
                                    <option value="H02">厢式货车</option>
                                    <option value="H04">罐式货车</option>
                                    <option value="Q00">牵引车</option>
                                    <option value="G01">普通挂车</option>
                                    <option value="G03">罐式挂车</option>
                                    <option value="G05">集装箱挂车</option>
                                    <option value="H09">仓栅式货车</option>
                                    <option value="H03">封闭货车</option>
                                    <option value="H05">平板货车</option>
                                    <option value="H06">集装箱车</option>
                                    <option value="H07">自卸货车</option>
                                    <option value="H08">特殊结构货车</option>
                                    <option value="Z00">专项作业车</option>
                                    <option value="G02">厢式挂车</option>
                                    <option value="G07">仓栅式挂车</option>
                                    <option value="G04">平板挂车</option>
                                    <option value="G06">自卸挂车</option>
                                    <option value="G09">专项作业挂车</option>
                                    <option value="X91">车辆运输车</option>
                                    <option value="X92">车辆运输车(单排)</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-8">
                                <textarea id="remarks" name="remarks" class="form-control" type="text"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary" id="carAdds">提交</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script src="/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"
        th:src="@{/js/plugins/bootstrapvalidator/bootstrapValidator.min.js}"></script>
<script type="text/javascript">
    // $(function () {
    //     validateRule();
    // });

    // $.validator.setDefaults({
    //     submitHandler: function () {
    //         save();
    //     }
    // });

    $("#carAdds").on('click', function () {
        $('#carAdd').submit();
        save();
    });

    function save() {
        $.ajax({
            cache: true,
            type: "POST",
            url: "/business/car/save",
            data: $('#carAdd').serialize(),// 你的formid
            async: false,
            error: function (request) {
                parent.layer.alert("Connection error");
            },
            success: function (data) {
                if (data.code == 0) {
                    parent.layer.msg("操作成功");
                    parent.reLoad();
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(index);

                } else {
                    parent.layer.alert(data.msg)
                }

            }
        });

    }


    $("#carAdd").bootstrapValidator({
        message: '错误!!',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            mobile: {
                message: '手机号码错误!',
                validators: {
                    notEmpty: {
                        message: '手机号不能为空'
                    }
                    , regexp: {
                        regexp: /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/,
                        message: '手机号格式不正确！！'
                    }
                }
            },
            carNum: {
                message: '车牌号码错误',
                validators: {
                    notEmpty: {
                        message: '车牌号码不能为空！'
                    },regexp:{
                        regexp:/^[京津沪渝冀豫云辽黑湘皖鲁新苏浙赣鄂桂甘晋蒙陕吉闽贵粤青藏川宁琼使领A-Z]{1}[A-Z]{1}[A-Z0-9]{4}[A-Z0-9挂学警港澳]{1}[A-Z0-9]{0,1}$/,
                        message: '车牌号码格式不正确！！'
                    }, callback: {
                        message: '车牌号输入不正确！',
                        callback: function (value, validator) {//这里可以自定义value的判断规则
                            var stateValue;
                            debugger;
                                $.ajax({
                                    type: "POST",
                                    url: "/business/car/checkexist",
                                    data: {carNum: value},// 你的formid
                                    async: true,
                                    error: function (data) {
                                        layer.msg("验证码获取出现问题，请重新打开窗口！");
                                        stateValue = false;
                                    },
                                    success: function (data) {
                                        if (data.state =='2'){
                                            layer.confirm('已存在车辆，是否添加关系？', {
                                                btn: ['是','否'] //按钮
                                            }, function(){
                                                $.ajax({
                                                    type: "POST",
                                                    url: "/business/car/addexist",
                                                    data: {carNum: value},// 你的formid
                                                    async: true,
                                                    error: function (data) {
                                                        layer.msg("添加接口异常！");
                                                    },
                                                    success: function (data) {
                                                        parent.layer.msg("操作成功");
                                                        parent.reLoad();
                                                        var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                                                        parent.layer.close(index);
                                                    }
                                                });
                                            }, function(){

                                            });
                                            stateValue = false;
                                        } else if (data.state == '1'){
                                            stateValue = false;
                                        } else {
                                            stateValue = true;
                                        }
                                    }
                                });
                            return stateValue;
                        }
                    }
                }
            },
            identityNum:{
                message: '身份证号码错误!',
                validators: {
                    notEmpty: {
                        message: '身份证号码号不能为空'
                    }
                    , regexp: {
                        regexp: /^[1-9][0-7]\d{4}((19\d{2}(0[13-9]|1[012])(0[1-9]|[12]\d|30))|(19\d{2}(0[13578]|1[02])31)|(19\d{2}02(0[1-9]|1\d|2[0-8]))|(19([13579][26]|[2468][048]|0[48])0229))\d{3}(\d|X|x)?$/,
                        message: '身份证号码格式不正确！！'
                    }
                }
            }
        }
    });

    // function validateRule() {
    //     var icon = "<i class='fa fa-times-circle'></i> ";
    //     $("#signupForm").validate({
    //         rules: {
    //             carNum: {
    //                 required: true
    //             }
    //             , realName: {
    //                 required: true
    //             }
    //         },
    //         messages: {
    //             carNum: {
    //                 required: icon + "请输入姓名"
    //             }
    //             , realName: {
    //                 required: true
    //             }
    //         }
    //     })
    // }
</script>
</body>
</html>
