body {
    background: #ffffff url(../assets/0002.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*密码输入框 */
input{
    width: 70%;
    height: 50px;
    border: 1px solid rgba(96, 96, 96, .4);
    /* border-radius: 10px; */
    display: block;
    background: rgba(96, 96, 96, .4);
}
input.mobile{
    width: 60%;
    /* -webkit-border-top-left-radius:0px;
    -webkit-border-bottom-left-radius:0px; */
}
.content select{
    height: 50px;
    border: 0;
    background: rgba(96, 96, 96, .4);
    /* -webkit-border-top-left-radius:10px;
    -webkit-border-bottom-left-radius:10px; */
}
/* 页面居中 */
.login-Module{
    /* 与父元素 */
    left: 30%;
    top: 50%;
    background: rgba(255, 255, 255, 0.5);
    /* 本身元素 */
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(-50%,-50%);
    border-radius: 30px;
}
.login-Module from {
    position: relative;
    left: 15%;
    top: 150px;
}
/* 间隔 */
.interval {
    margin-bottom: 20px;
}

.btn-login{
    border: 1px solid #00a3ff;
    background-color: #00A3FF;
    color: #fff;
    border-radius: 2px;
}