<style>
    *{background-color: #EAEAEA;}
    .card{
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
        text-align: center;
        margin:0 2% 2% 0;
    }
    .center-in-center{
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -30%);
        width: 90%;
        height: 95%;
    }
    .usr{
        width: 20%;
        float: left;
    }
    .central{
        width: 80%;
        float: left;
    }
</style>
<div>
    <div class="row center-in-center">
        <div class="usr">
            <div class="card " style="height: 28.125rem;">

            </div>
            <div class="card " style="height: 21.875rem;">

            </div>
        </div>
        <div class="central">
            <div class="card " style="height: 50rem;">

            </div>
        </div>
    </div>
</div>