<!DOCTYPE html>
<html>
	<head th:insert="include :: header">
		<meta charset="utf-8" />
		<title>认知</title>
	</head>
	<body>
		<ul class="layui-nav" style="text-align: right;">
			<li class="layui-nav-item" lay-unselect="">
				<a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">我</a>
				<dl class="layui-nav-child">
					<dd><a href="javascript:;">修改信息</a></dd>
					<dd><a href="javascript:;">安全管理</a></dd>
					<dd><a href="javascript:;">退了</a></dd>
				</dl>
			</li>
			<li class="layui-nav-item">
			<a href="">个人中心<span class="layui-badge-dot"></span></a>
			</li>
		</ul>
		
		
		<div class="container-fluid">
		  <div class="row">
			<div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
			<div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
		  </div>
		</div>
	</body>
</html>
