<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知域知网，了解一切，简单生活</title>
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/interface.css">
</head>
<body>

<div>
    <div class="navigation">
        <!--导航栏-->
        <div class="row border-bottom">
            <ul class="layui-nav">
                <li class="layui-nav-item" style="float:right;" th:if="${userInfo} != null">
                    <a href="/logout">退出</a>
                </li>
                <li class="layui-nav-item" style="float:right;" th:if="${userInfo} == null">
                    <a href="javascript:;" onclick="openLogin()">登陆</a>
                </li>

                <li class="layui-nav-item" style="float:right;" th:if="${userInfo} != null">
                    <a href="javascript:;"><img class="layui-nav-img" src="//t.cn/RCzsdCq">
                        <span th:text="${userInfo.userName}">未登录</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">修改信息</a></dd>
                        <dd><a href="javascript:;">安全管理</a></dd>
                    </dl>
                </li>

                <li class="layui-nav-item">
                    <span href="javascript:;" style="font-size: 30px">CONGITION</span>
                </li>
            </ul>
        </div>

        <div class="top" id="menu-box"><ul></ul></div>
    </div>

    <div class="main-content-frame"></div>

</div>

<!-- 全局js -->
<script type="text/javascript" src="/js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="/js/bootstrap.min.js?v=3.3.6"></script>
<script type="text/javascript" src="/js/layui.all.js"></script>

<script th:inline="javascript" type="text/javascript">
    var index;
    function openLogin() {
         index = layer.open({
            type: 2,
            title: '登陆与注册',
            area: ['400px', '600px'],
            content: '/toLogin' //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });
    }

    var menus;
    $(document).ready(function () {
        menus = [[${menus}]];
        var menuStr ='';
        if (menus && menus !== '') {
            $.each(menus, function (index, el) {
                menuStr += '<li>' + '<a href="javascript:void(0);" onclick="menuClick(' + el.url + ')">' + '<span>' + el.name + '</span></a></li>';
            });
        } else {
            menuStr = '<li>' + '<a href="javascript:void(0);" onclick="menuClick(' + "/login" + ')">' + '<span>' + "用户管理" + '</span></a></li>';
        }

        $('#menu-box ul').append(menuStr);
        menuClick();
    });


    function menuClick(i) {
        if (menus && menus.length > 0) {
            $(".main-content-frame").load(i);
        } else {
            $(".main-content-frame").load('/toHome');
        }
    }


    // layui.use('element',function () {
    //     var element = layui.element;
    //
    //
    //
    // })
</script>
</body>
</html>