<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>知域知网，了解一切，简单生活</title>
    <link rel="stylesheet" href="/css/layui.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/interface.css">
</head>
<body>

<div>
    <!--导航栏-->
    <div class="row border-bottom">
        <ul class="layui-nav">
            <li th:if="${userInfo} != null" class="layui-nav-item" style="float:right;">
                <a href="/logout">退出</a>
            </li>
            <li th:if="${userInfo} == null" class="layui-nav-item" style="float:right;">
                <a href="javascript:;" onclick="openLogin()">登陆</a>
            </li>

            <li th:if="${userInfo} != null" class="layui-nav-item" style="float:right;">
                <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">
                    <span th:text="${userInfo.userName}">未登录</span></a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;">修改信息</a></dd>
                    <dd><a href="javascript:;">安全管理</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <span href="javascript:;" style="font-size: 30px">CONGITION</span>
            </li>
        </ul>
    </div>

    <div class="top">
        <ul>
            <li><a href="#">车辆管理</a></li>
            <li><a href="#">车辆年检</a></li>
            <!--<li><a href="#">一级菜单</a></li>-->
            <!--<li><a href="#"><b>一级菜单</b></a></li>-->
            <!--<li><a href="#">一级菜单</a></li>-->
            <!--<li>-->
            <!--<a href="#">一级菜单</a>-->
            <!--<ul>-->
            <!--<li><a href="#">二级菜单</a></li>-->
            <!--<li><a href="#">二级菜单</a></li>-->
            <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>

</div>

<!-- 全局js -->
<script type="text/javascript" src="/js/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript" src="/js/bootstrap.min.js?v=3.3.6"></script>
<script type="text/javascript" src="/js/layui.all.js"></script>

<script type="text/javascript">
    var index;
    function openLogin() {
         index = layer.open({
            type: 2,
            title: '登陆与注册',
            area: ['400px', '600px'],
            content: '/toLogin' //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
        });
    }

    // $(document).ready(function () {
    //     var menuStr;
    //     $.each(infos, function (index, el) {
    //         menuStr += '<li>' + '<a href="javascript:void(0);" onclick="menuClick(this,'+index +')">' + '<span>' + el.name + '</span></a></li>';
    //     });
    //
    //     $('#menu-box ul').append(menuStr);
    // });


    layui.use('element',function () {
        var element = layui.element;

        // $.ajax({
        //     type: "get",
        //     url: "/login",
        //     data: $('#signupForm').serialize(),
        //     success: function (response) {
        //         console.log(response);
        //         console.log(response);
        //         if (response.state == 0) {
        //             var index = layer.load(1, {
        //                 shade: [0.1, '#fff'] //0.1透明度的白色背景
        //             });
        //             window.location.href = "/index";
        //         } else {
        //             layer.msg(response.msg);
        //         }
        //     }
        // });



        // function chooseSecoundMenu(i) {
        //     var active = JSON.parse(sessionStorage.getItem("infos"))['meunVos'][i];
        //     if (active && active['childList'].length > 0) {
        //         $(".layui-body").load(active['childList'][0].path + '.html');
        //     } else {
        //         $(".layui-body").load('default.html');
        //     }
        // }

    })
</script>
</body>
</html>