<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>字帖比特，了解一切，简单生活</title>
    <meta name="keywords" content="字帖比特，了解一切，简单生活">
    <meta name="description" content="字帖比特，了解一切，简单生活">
    <!--验证样式-->
    <link rel="stylesheet" href="/css/manmachine.css">
</head>

<body class="top-navigation">

<!-- body -->
<div class="signinpanel" id="login-Module">

    <h3 class="text-center">用户注册</h3><br/>
    <p class="m-t-md text-center">欢迎注册cognition</p>

    <div>
        <div v-show="cur==0">
            <from id="phoneRegister">
                <div class="form-group">
                    <input type="text" id="mobile" name="mobile" class="form-control" placeholder="请输入手机号">
                </div>
                <div class="row">
                    <div class="col-xs-12 pull_left">
                        <div class="form-group">
                            <input class="form-control" oninput="value=value.replace(/[^\d]/g,'')"
                                   id="verify" name="verify" placeholder="请输入验证码" maxlength="4">
                        </div>
                    </div>
                    <a href="javascript:void(0);" rel="external nofollow" class="layoutVerification" title="点击更换验证码">
                        <img id="imgVerify" src="" alt="更换验证码" onclick="getVerify(this);">
                    </a>
                </div>

                <div class="row">
                    <div class="col-xs-12 pull_left">
                        <div class="form-group">
                            <input class="form-control" type="tel" name="code" id="code"
                                   oninput="value=value.replace(/[^\d]/g,'')"
                                   placeholder="请输入短信验证码" maxlength="6">
                        </div>
                    </div>
                    <a href="javascript:;" id="sendMsg" style="line-height: normal;"
                       class="text-center btn btn-info layoutVerification">获取验证码</a>
                </div>

                <input type="password" id="phone_password" name="password" class="form-control" placeholder="请输入密码">

                <div class="form_item">
                    <a type="submit" id="phoneSubmit" class="btn btn-primary btn-block">注册</a>
                </div>
            </from>
        </div>

        <div v-show="cur==1">
            <form id="emailRegister">
                <input type="text" name="name" class="form-control" placeholder="请输入邮箱">

                <input type="password" name="password" class="form-control" placeholder="密码">

                <div class="form_item">
                    <input type="submit" class="btn btn-primary btn-block" value="注册">
                </div>
            </form>
        </div>
    </div>

    <div style="padding:10px;text-align:right;">
        <a href="/toLogin" style="color: #0d8ddb">已有登陆>></a>
    </div>

    <div class="signup-footer">
        <!--© 2019 xxx.com  京ICP备 12003892号-11 XXXXX有限公司-->
        <div class="pull-left">&copy; 2019 cognition.com 冀ICP备19019505号-1 carManger车辆管理平台</div>
    </div>
</div>


<script src="/js/jquery.min.js?v=2.1.4" th:src="@{/js/jquery.min.js?v=2.1.4}"></script>
<script src="/js/bootstrap.min.js?v=3.3.6" th:src="@{/js/bootstrap.min.js?v=3.3.6}"></script>
<!-- 自定义js -->
<script src="/js/content.js?v=1.0.0" th:src="@{/js/content.js?v=1.0.0}"></script>

<!-- jQuery Validation plugin javascript-->
<script src="/js/ajax-util.js"></script>
<script src="/js/plugins/layer/layer.min.js"
        th:src="@{/js/plugins/layer/layer.min.js}"></script>
<script src="/js/vue.min.js"
        th:src="@{/js/vue.min.js}"></script>
<script src="/js/plugins/bootstrapvalidator/bootstrapValidator.min.js"
        th:src="@{/js/plugins/bootstrapvalidator/bootstrapValidator.min.js}"></script>

<!--自定义工具js-->
<script src="/js/tools.js"
        th:src="@{/js/tools.js}"></script>

<script type="text/javascript">

    //手机号验证 、 随机数验证 、 短信验证码验证
    var mobilePass = false, verifyPass = false, codePass = false;
    $(document).ready(function () {

        $("#phoneSubmit").on('click', function () {
            $('#phoneRegister').submit();
            register();
        });


        $("#sendMsg").click(function () {
            if (mobilePass && verifyPass) {
                if ($("#mobile").val() == "" || $("#mobile").val() == null) {
                    return layer.msg("请填写手机号码");
                }
                $.ajax({
                    type: "POST",
                    url: "/register/sendMobileCode",
                    data: {mobile: $("#mobile").val()},// 你的formid
                    error: function (request) {
                        parent.layer.alert("Connection error");
                    },
                    success: function (data) {
                        sendTimeBtn($("#sendMsg"), $("#sendMsg"));
                        if (data.code == 0) {
                            var index = layer.load(0, {
                                shade: [0.4, '#000'] //0.1透明度的白色背景
                            });
                        } else {
                            layer.msg(data.msg);
                        }
                    }
                });
            } else {
                layer.msg("请先验证随机码！！");
            }
        });

        $("#imgVerify").click();

        $("#phoneRegister").bootstrapValidator({
            message: '错误!!',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                mobile: {
                    message: '手机号码错误!',
                    validators: {
                        notEmpty: {
                            message: '手机号不能为空'
                        }
                        , regexp: {
                            regexp: /^1([38][0-9]|4[579]|5[0-3,5-9]|6[6]|7[0135678]|9[89])\d{8}$/,
                            message: '手机号格式不正确！！'
                        }
                        , callback: {
                            message: '手机号已存在',
                            callback: function (value, validator) {//这里可以自定义value的判断规则
                                if (value.length > 10) {
                                    var gValue = false;
                                    $.ajax({
                                        type: "POST",
                                        url: "/register/checkExistence",
                                        data: {userMobile: value},// 你的formid
                                        async: false,
                                        error: function (data) {
                                            gValue = false;
                                        },
                                        success: function (datas) {
                                            gValue = datas;
                                            mobilePass = datas;
                                        }
                                    });
                                    return gValue;
                                } else {
                                    return true;
                                }
                            }
                        }
                    }
                },
                verify: {
                    message: '随机验证码错误',
                    validators: {
                        notEmpty: {
                            message: '随机验证码不能为空！'
                        },
                        callback: {
                            message: '随机验证码错误！',
                            callback: function (value, validator) {//这里可以自定义value的判断规则
                                var gValue;
                                if (value.length > 3) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/register/checkVerify",
                                        data: {verify: value},// 你的formid
                                        async: false,
                                        error: function (data) {
                                            gValue = false;
                                            verifyPass = false;
                                            layer.msg("验证码获取出现问题，请重新打开窗口！");
                                        },
                                        success: function (data) {
                                            gValue = data;
                                            verifyPass = data;
                                        }
                                    });
                                    return gValue;
                                } else {
                                    return false;
                                }
                            }
                        }
                    }
                },
                code: {
                    message: '手机验证码错误',
                    validators: {
                        notEmpty: {
                            message: '手机验证码不能为空！'
                        },
                        callback: {
                            message: '手机验证码错误！',
                            callback: function (value, validator) {//这里可以自定义value的判断规则
                                var mobileV = $("#mobile").val();
                                var gValue;
                                if (value.length > 5) {
                                    $.ajax({
                                        type: "POST",
                                        url: "/register/checkCode",
                                        data: {mobile: mobileV, code: value},// 你的formid
                                        async: false,
                                        error: function (data) {
                                            gValue = false;
                                            codePass = false;
                                        },
                                        success: function (data) {
                                            gValue = data;
                                            codePass = data;
                                        }
                                    });
                                    return gValue;
                                } else {
                                    return false;
                                }
                            }
                        }
                    }
                }
            }
        });

    });


    function register() {
        if (mobilePass && codePass && codePass) {
            // var value = document.getElementById("phoneRegister").serialize();
            var variable = {
                mobile:$('#mobile').val(),
                password:$('#phone_password').val()
            };
            $.ajax({
                type: "POST",
                url: "/register/registerUser",
                data: variable,
                success: function (response) {
                    if (response.state == 0) {
                        parent.layer.close(parent.index);
                        parent.location.reload();
                    } else {
                        layer.msg(response.msg);
                    }
                }
            });
        }
    }

    //获取验证码
    function getVerify(obj) {
        obj.src = "/getVerify?" + Math.random();
    }

</script>
<!--</body>-->
<!--</html>-->
