<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">

        <div class="col-sm-5">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>选择车辆</h5>
                </div>
                <div class="ibox-content">
                    <table id="carTable"></table>
                </div>
            </div>
        </div>


        <div class="col-sm-7">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">外观时间：</label>
                            <div class="col-sm-8">
                                <input id="carTime" name="carTime" class="form-control" type="text" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">行驶证：</label>
                            <div class="col-sm-8">
                                <input id="vehicleLicense" name="vehicleLicense" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">行驶证时间：</label>
                            <div class="col-sm-8">
                                <input id="vehicleTime" name="vehicleTime" class="form-control" type="text" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">保险（强险）：</label>
                            <div class="col-sm-8">
                                <input id="carInsurance" name="carInsurance" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">保险（强险）时间：</label>
                            <div class="col-sm-8">
                                <input id="insuranceTime" name="insuranceTime" class="form-control" type="text" readonly="readonly">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript">

    layui.use(['layer','laydate'], function(){
        var layer = layui.layer;
        var laydate = layui.laydate;

        var carCreateDate = laydate.render({
            elem: '#carTime',
            trigger: 'click',
            format: 'MM-dd'
        });

        var vehicleCreateDate = laydate.render({
            elem: '#vehicleTime',
            trigger: 'click',
            format: 'MM-dd'
        });

        var insuranceCreateDate = laydate.render({
            elem: '#insuranceTime',
            trigger: 'click',
            format: 'MM-dd'
        });

    });

    var checkCar = '';

    $('#carTable').bootstrapTable({
        method: 'get', // 服务器数据的请求方式 get or post
        url: "/business/car/list", // 服务器数据的加载地址
        iconSize: 'outline',
        toolbar: '#carTable',
        dataType: "json", // 服务器返回的数据类型
        pagination: true, // 设置为true会在底部显示分页条
        singleSelect: true, // 设置为true将禁止多选
        pageSize: 10, // 如果设置了分页，每页数据条数
        pageNumber: 1, // 如果设置了分布，首页页码
        showColumns: false, // 是否显示内容下拉框（选择显示的列）
        sidePagination: "server", // 设置在哪里进行分页，可选值为"client" 或者 "server"
        async: true,
        queryParams: function (params) {
            return {
                //说明：传入后台的参数包括offset开始索引，limit步长，sort排序列，order：desc或者,以及所有列的键值对
                limit: params.limit,
                offset: params.offset
                // name:$('#searchName').val(),
                // username:$('#searchName').val()
            };
        },
        onCheck: function (row) {
            checkCar = row.id;
        },
        columns: [
            {
                checkbox: true
            }, {
                field: 'carNum',
                title: '车牌号'
            }, {
                field: 'mobile',
                title: '联系电话'
            }]
    });


    $().ready(function () {
        validateRule();
    });

    $.validator.setDefaults({
        submitHandler: function () {
            save();
        }
    });

    function save() {
        var rData = $('#signupForm').serializeArray();
        // rData['carId'] = checkCar;
        rData.push({name:'carId',value:checkCar});

        $.ajax({
            type: "POST",
            url: "/business/carInspect/save",
            data: rData,// 你的formid
            async: true,
            error: function (request) {
                parent.layer.alert("Connection error");
            },
            success: function (data) {
                if (data.state == 0) {
                    parent.layer.msg("操作成功");
                    parent.reLoad();
                    var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                    parent.layer.close(index);

                } else {
                    parent.layer.alert(data.msg)
                }

            }
        });

    }

    function validateRule() {
        var icon = "<i class='fa fa-times-circle'></i> ";
        $("#signupForm").validate({
            rules: {
                name: {
                    required: true
                }
            },
            messages: {
                name: {
                    required: icon + "请输入姓名"
                }
            }
        })
    }
</script>
</body>
</html>
